<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Guest Book</title>
    </head>
    <body>
        <h1>My Guestbook</h1>
        <a href="{% url 'create' %}"> <button>Leave a note!</button> </a>
        <div>
            {% for note in notes %}
            <p>{{ note.name }}</p>
            <p>{{ note.message }}</p>
            <p>{{ note.date }}</p>

            {% endfor %}
        </div>
    </body>
</html>
